.alive {
    border-color: #71a471 !important;
  }
  
.dead {
  border-color: #e27270 !important;
}
  
.unknown {
  border-color: #65ace0 !important;
}

img {
    border: 4px solid #fff;
    border-style: solid;
    width: 150px !important;
    height: 150px !important;
    border-radius: 50%;
 }

.border-shadow-alive {
    box-shadow: 20px 20px 20px #71a471 !important;
}

.border-shadow-dead {
    box-shadow: 20px 20px 20px #e27270 !important;
}

.border-shadow-unknown {
    box-shadow: 20px 20px 20px #65ace0 !important;
}

.class-card {
  --d: 20px;
  transform: translate(calc(var(--d)/-1),var(--d));
  transition: 1s;
  cursor: pointer;
}

.class-card:hover {
    transform: translate(0,0);
}

.box {

  padding-left: 100px;

}