.App {
  background-color: #282c34;
  text-align: center;
  width: 100%;
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.box {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  position: relative;
}

.box-size {
  margin: 10px;
}
      
.title {
  margin-top: 0px;
  color: white;
}

.input-size {
  width: 600px !important;
}

.input-size-text {
  width: 550px !important;
}